*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: rgb(245, 245, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 25, 25, 0.5)), url(oficina.jpeg);
    background-position: center  center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100vw;
    height: 10vh;
    background: rgb(94, 18, 18);
    
}

.menu{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    font-size: 18px;
}

.logo{
    cursor: pointer;
    width: 70px;
    height: 80px
}

.menu .lista-menu{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    
}

.menu .lista-menu a{
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    transition: 2ms ease-in;
    position: relative;
}

.menu .lista-menu a::before{
   content: '';
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 0px;
   height: 2px;
   border-color: bisque;
   transition: all 1s ease;
}

.menu .lista-menu a:hover::before{
    width: 100%;
    background-color: rgb(235, 75, 75);
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;

}

.container-cards{
    display: flex;  
    justify-content: space-around;
    width: 100%;
}

.sub-container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 400px;
    align-items: center;

}

img {
    width: 250px;
    height: 200px;
}

.sub-container h3{
    font-size: 20px;
    margin: 15px 0;
    color:aqua
}

.sub-container button{
    background-color: blue;
    color: aliceblue;
    border: none; 
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.sub-container button:hover{
    background-color: cadetblue;
}

footer{
    background-color: rgb(94, 18, 18);;
    color: aliceblue;
    padding: 20px 0;
    font-size: 1.6rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 12px;
}

.footer-form, .footer-contact {
    flex: 1;
    margin: 0 100px;
}

.footer-form-h3, .footer-contact-h3 {
    margin-bottom: 10px;
}

.footer-form form{
    display: flex;
    flex-direction: column;
}

.footer-form label{
    margin-bottom: 5px;
}

.footer-form input{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.4rem;
}

.footer-form button{
    padding: 10px;
    font-size: 1.4rem;
    background-color: rgb(218, 95, 95);
    border: none;
    cursor: pointer;
}

.footer-contact p{
    margin-bottom: 20px;
}

