 header{
    text-align: center;
    background-color: #ffebc4;
    
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
}

.titulo{
    margin-top: 0%;
    padding-top: 0%;
}

.intro{
    border: solid 15px #ffc34b;
    background-color: #ffebc4;
    margin: 5%;
    padding: 2%;
    border-style: groove;
}
main{
    background-color:rgb(255, 255, 255);
    color: black;
}

nav a{
    color: rgb(248, 110, 19);
}

article{
    border: solid 10px #ffc44f;
    background-color: #ffebc4;
    margin: 10%;
    padding: 20px;
    border-style:groove;
    border-style: double;
}

footer{
    background-color: #ffebc4;
    margin: 5px;
    padding: 2px;
}

main h2{
    text-align: center;
}

@media (max-width:820px) and (orientation:portrait){
    body{
    background-color: #ffae5c;
    }
    article{
    border: solid 10px #ffc44f;
    background-color: #ffebc4;
    margin: 10%;
    padding: 20px;
    border-style:groove;
    border-style: double;
    }
    
}

@media (min-width:600px){


}

@media (min-width:768px){
    
}

@media (min-width:992px){
    
}

@media (min-width:1200px){
    
}



