
h1{
    color: #2b4effb3;
    background-color: #55b5e129;
    text-align: center;
    font-size: 36px;
}

body{
    background-color: rgb(182, 255, 243);
}

form{  
    background-color: rgb(132, 181, 255);
}



















