.conteudo{
    background-color: rgb(196, 255, 255);
    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: flex-start;


}

.caixa1{
    background-color: rgb(255, 127, 127);
    width: 150px;
    height: 100px;
    margin: 10px;
    justify-items:auto;
}

.caixa2{
    background-color: rgb(255, 200, 127);
    width: 150px;
    height: 100px;
    margin: 10px;
}

.caixa3{
    background-color: rgb(244, 255, 127);
    width: 150px;
    height: 100px;
    margin: 10px;
}

.caixa4{
    background-color: rgb(133, 255, 127);
    width: 150px;
    height: 100px;
    margin: 10px;
}

.caixa5{
    background-color: rgb(127, 133, 255);
    width: 150px;
    height: 100px;
    margin: 10px;
}

